/* inline blocks */

.ui-dialog .field--name-field-cb-button {
  display: block;
}

.ui-dialog .field--name-field-cb-photo-gallery-load-more {
  display: block;
}

.ui-widget-content .inline-block-create-button,
.ui-dialog .inline-block-list + a {
  display: inline-block;
  padding: .5rem .625rem;
  margin-bottom: 1rem;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1rem;
  color: #454545;
  background-color: #f6f6f6;
  border: 1px solid #c5c5c5;
  border-radius: 3px;
}

.ui-widget-content .inline-block-create-button:hover {
  color: #2b2b2b;
  border-color: #ccc;
  background-color: #ededed;
}

.ui-dialog .block-categories .links,
.ui-dialog .inline-block-list {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.ui-dialog .block-categories .links li,
.ui-dialog .inline-block-list li {
  display: block;
  background-color: white;
  margin: 0 0 1rem 0;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: .25s ease-in-out;
}

.ui-dialog .block-categories .links li:last-child,
.ui-dialog .inline-block-list li:last-child {
  margin-bottom: 1rem;
}

.ui-dialog .block-categories .links li:hover,
.ui-dialog .inline-block-list li:hover {
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.ui-dialog .block-categories .links li a,
.ui-dialog .inline-block-list li a {
  display: block;
  text-decoration: none;
}

.ui-dialog .block-categories .links li img,
.ui-dialog .block-categories .links li svg,
.ui-dialog .inline-block-list img,
.ui-dialog .inline-block-list svg {
  display: block;
  margin: 0 auto;
}

.ui-dialog .inline-block-list__item__title {
  margin-top: .5rem;
  font-weight: bold;
  text-align: center;
}

.ui-dialog .inline-block-list__item__descr {
  margin-top: .5rem;
  font-size: .875rem;
  line-height: 1.125rem;
  font-style: italic;
}

.ui-dialog .inline-block-list__item__descr p:last-child {
  margin-bottom: 0;
}

.ui-dialog .form__multiple-value {
  margin-bottom: 1.4375rem;
  padding: 1.4375rem;
  border: 1px solid #ccc;
}


.layout-selection li {
  display: block;
  margin: 0 0 1rem 0;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.layout-selection li:hover {
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  transition: .25s ease-in-out;
}

.layout-selection li a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}
.layout-selection li a div {
  margin-top: .5rem;
}

.layout-selection li a:focus {
  outline: none;
}

.layout-selection li img,
.layout-selection li svg {
  display: block;
  margin: 0 auto;
}

.layout-selection li .group {
  margin-top: .5rem;
  font-weight: bold;
}

@media only screen and (min-width: 480px) {
  /* inline blocks */

  .ui-dialog .block-categories .links,
  .ui-dialog .inline-block-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -.5rem;
    margin-right: -.5rem;
  }

  .ui-dialog .block-categories .links li,
  .ui-dialog .inline-block-list li {
    margin: 0 .5rem 1rem .5rem;
    flex-basis: calc(50% - 1rem);
    width: calc(50% - 1rem);
  }

  #layout-builder-modal .layout-selection {
    display: flex;
    flex-wrap: wrap;
    margin-left: -.5rem;
    margin-right: -.5rem;
  }

  .layout-selection li {
    margin: 0 .5rem 1rem .5rem;
    flex-basis: calc(50% - 1rem);
    width: calc(50% - 1rem);
  }
}

@media only screen and (min-width: 768px) {
  .ui-dialog .block-categories .links li,
  .ui-dialog .inline-block-list li {
    flex-basis: calc(33.33% - 1rem);
    width: calc(33.33% - 1rem);
  }

  .layout-selection li {
    flex-basis: calc(33.33% - 1rem);
    width: calc(33.33% - 1rem);
  }
}


