#node-page-layout-builder-form,
#entity-view-display-layout-builder-form,
.node-layout-builder-form {
  position: fixed;
  z-index: 908;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 1.25rem;
  text-align: left;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,.5);

  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  align-items: center;
}

.layout-builder-form #edit-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 0;
}

.layout-builder-form #edit-actions input{
  margin: 0 2em 0 0;
}

.layout-builder-form #edit-actions #edit-preview-toggle {
  flex-grow: 1;
  justify-content: flex-end;
  display: flex;
  margin-left: 2em;
}

.layout-builder-form #edit-actions #edit-preview-toggle .form-item {
  margin: 0;
}




/* Spacing before getting to LB preview */

.entity-view-display-layout-builder-form {
  margin-top: 40px;
}

.form__element--toggle-content-preview {
  margin-top: 20px;
}

/* Actions for LB preview page
======================================================================= */

/* Messages: don't need to know about status */
.layout-builder__message--overrides .messages--status,
#edit-layout-builder-message  .messages--status {
  display: none;
}
.layout-builder__message--overrides .messages-list,
#edit-layout-builder-message  .messages-list {
  margin: 0;
}

.node-page-layout-builder-form .form__element::after {
  display: none;
}

/* When tray open, don't block it with Edit Actions*/
.js-off-canvas-dialog-open .layout-builder-form #edit-actions {
  z-index: 10;
}

.layout-builder-form #edit-actions [data-drupal-selector="edit-revert"] {
  display: none;
}

.layout-builder-form .olivero-details {
  border: 0;
}

/* Vertical tabs (eg. with revisions) */
.layout-builder-form > .form-no-label,
.layout-builder-form #edit-moderation-state-wrapper {
  /* display: none; */
  width: 100vw;
  padding: 0 1.25rem .5rem 1.25rem;
  margin: 0 -1.25rem  1.25rem  -1.25rem;
  border-bottom: 1px solid rgba(216, 217, 224, 0.8);
  background-color: #fff;
  box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.layout-builder-form > .form-no-label,
.layout-builder-form #edit-moderation-state-wrapper {
  margin-top: -10px;
  padding-bottom: 10px;
}

.layout-builder-form > .form-no-labels .vertical-tabs {
  margin: .25em .5em .25em 15em;
}

.layout-builder-form > .form-no-label .vertical-tabs,
.layout-builder-form > .form-no-label .vertical-tabs__menu ,
.layout-builder-form > .form-no-label .vertical-tabs__menu-item {
  border: 0 none;
}

.layout-builder-form > .form-no-label .vertical-tabs__menu {
  width: auto;
}

.layout-builder-form > .form-no-label .vertical-tabs__menu a {
  padding-left: 0;
}

.layout-builder-form .vertical-tabs__menu-item.is-selected .vertical-tabs__menu-item-title {
  color: #979797;
}

.layout-builder-form > .form-no-label .vertical-tabs__menu-item-summary {
  position: absolute;
  left: -9999px;
  height: 0;
  font-size: 0;
}

.layout-builder-form > .form-no-label .details-wrapper {
  padding: 0;
  margin: 0;
}

.layout-builder-form > .form-no-label .details-wrapper .form-type-boolean {
  margin: 0;
  padding-top: 0.5625rem;
  padding-left: 1rem;
}

.layout-builder-form > .form-no-label .details-wrapper .entity-content-form-revision-information {
  border: 0;
}


.layout-builder-form > .form-no-label .form__element:last-child {
  margin-bottom: 0;
}

.layout-builder-form > .form-no-label .form__element__description {
  margin-top: 5px;
}

/* Moderation */

.layout-builder-form #edit-moderation-state-wrapper .container-inline .form__dropdown,
.layout-builder-form #edit-moderation-state-wrapper .container-inline select {
  display: inline-block;
}

.entity-moderation-form__item {
  margin-bottom: 0;
}

.entity-moderation-form__item .button {
  padding: .75rem 1.25em;
  margin-bottom: 1em;
  border: 0 none !important; /* Gin theme override */
  border-radius: 3px;
  font-size: 1rem;
  line-height: 1.25rem;
  text-transform: none;
  color: #fff;
  background-color: #333;
}

.entity-moderation-form__item .button:hover {
  color: #fff;
  background-color: #000;
}
