/* Main layout builder overrides */

div.layout-builder {
  padding: 0;
  border: 0;
}

div.layout-builder__section {
  border: 2px solid #545560;
  border-radius: 3px;
  margin-bottom: 0;
}
div.layout-builder__section .layout {
  margin-bottom: 0;
}
div.layout-builder__region {
  outline: 0;
  background: repeating-linear-gradient( -45deg, transparent, #f7f7f7 3px, transparent 3px, transparent 10px );
}
div.layout-builder-block {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 1em;
  margin: 0.5em;
  border-radius: 3px;
}
div.layout-builder__add-block {
  background: none;
}
div.layout-builder__add-block a {
  color: #686868;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5em 2.3em;
  border-radius: 3px;
  border: 2px #686868 solid;
  background: #fff;
  font-size: 1.2em;
}
div.layout-builder__add-block a:before {
  content: url(../../../../core/misc/icons/686868/plus.svg);
  padding: 0 5px 0 0;
}
div.layout-builder__add-block a:hover {
  color: #686868;
  border: 2px #686868 solid;
  background: #f7f7f7;
}

/* Section actions */
.layout-builder__section__actions {
  background: #545560;
  padding: 3px 5px;
  display: flex;
  align-items: center;
}

.layout-builder__section__actions a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.layout-builder__section__actions a.layout-builder__link--remove {
  position: inherit;
  border: 0 none;
  background-size: 12px;
  order: 999;
  margin: 3px 3px 3px auto;
  width: 20px;
  height: 20px;
  background: url(../../../../core/misc/icons/545560/ex.svg) #fff center center / 12px 12px no-repeat;
}
.layout-builder__section__actions a.layout-builder__link--remove:hover {
  background-color: #e32700;
}

.layout-builder__section__actions a.layout-builder__link--configure:before {
  content: url(../../../../core/misc/icons/ffffff/pencil.svg);
  padding: 0 5px 0 0;
}
.layout-builder__section__actions a.layout-builder__link--configure:hover {
  color: #bebebe;
}
.layout-builder__section__actions a.layout-builder__link--configure:hover::before {
  content: url(../../../../core/misc/icons/bebebe/pencil.svg);
  padding: 0 5px 0 0;
}

.layout-builder__section__actions a.layout-builder__link--add-section-to-library {
  background: none;
}
.layout-builder__section__actions a.layout-builder__link--add-section-to-library:before {
  content: url(../../../../core/misc/icons/ffffff/star.svg);
  padding: 0 5px 0 0;
}
.layout-builder__section__actions a.layout-builder__link--add-section-to-library:hover {
  color: #bebebe;
}
.layout-builder__section__actions a.layout-builder__link--add-section-to-library:hover::before {
  content: url(../../../../core/misc/icons/bebebe/star.svg);
  padding: 0 5px 0 0;
}

.layout-builder--edit-preview .layout-builder__add-section {
  overflow: hidden;
  width: 60px;
  height: 60px;
  line-height: 58px;
  margin: 30px auto;
  padding: 0;
  background-color: transparent;
  outline: none;
  border-radius: 50%;
  border: 1px dashed #545560;
}

.layout-builder--edit-preview .layout-builder__add-section a,
.layout-builder--edit-preview  .layout-builder__link--add-template-to-library {
  color: #686868;
  text-decoration: none;
  font-size: 1.2em;
  padding: 0.5em 2.3em;
  border-radius: 3px;
  border: 1px #686868 solid;
  background: #fff;
}
.layout-builder--edit-preview .layout-builder__add-section a:hover,
.layout-builder--edit-preview  .layout-builder__link--add-template-to-library:hover {
  background: #f7f7f7;
}
.layout-builder--edit-preview .layout-builder__add-section .layout-builder__link--add:before {
  content: url(../../../../core/misc/icons/686868/plus.svg);
  padding: 0 5px 0 0;
}
.layout-builder--edit-preview .layout-builder__add-section .layout-builder__link--import-from-library:before {
  content: url(../../../../core/misc/icons/787878/chevron-disc-down.svg);
  padding: 0 5px 0 0;
}
.layout-builder--edit-preview  .layout-builder__link--add-template-to-library:before {
  content: url(../../../../core/misc/icons/787878/chevron-disc-up.svg);
  padding: 0 5px 0 0;
}

.layout-builder--edit-preview .layout-builder__add-section::before {
  content: url(../../../../core/misc/icons/686868/plus.svg);
  display: block;
  line-height: 62px;
}

.layout-builder--edit-preview .layout-builder__add-section:hover,
.layout-builder--edit-preview .layout-builder__add-section:active {
  width: auto;
  margin: 20px auto;
  height: 80px;
  line-height: 78px;
  border-radius: 3px;
  transition: all .05s ease-in-out;
}

.layout-builder--edit-preview .layout-builder__add-section:hover::before,
.layout-builder--edit-preview .layout-builder__add-section:active::before {
  display: none;
}
